.headingContainer {
    display: flex;
    justify-content: space-between;
}

.containerPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media (max-width: 1942px) {
    .container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1370px) {
    .container {
        grid-template-columns: auto;
    }
}

@media (max-width: 560px) {
    .container {
        grid-template-columns: auto;
    }
}