.headingContainer {
    display: flex;
    justify-content: space-between;
}

.containerPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-open {
    display: grid;
    grid-template-columns: auto auto auto;
}

.container-closed {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media (max-width: 1942px) {
    .container-open {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1370px) {
    .container-open {
        grid-template-columns: auto;
    }
}

@media (max-width: 1702px) {
    .container-closed {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1130px) {
    .container-closed {
        grid-template-columns: auto;
    }
}